Source: rear
Section: misc
Priority: optional
Maintainer: Dag Wieers <dag@wieers.com>
Homepage: http://relax-and-recover.org/

Package: rear
Architecture: all
Provides: rear
Build-Depends: debhelper
Depends: syslinux, ethtool, ${shlibs:Depends}, lsb-release, portmap, genisoimage, iproute, iputils-ping, binutils, parted, openssl, gawk, attr, ${misc:Depends}
Recommends: nfs-client
Description: Relax and Recover is a bare metal disaster recovery and system
 migration framework. See http://relax-and-recover.org/ for all the details.
 We are still looking for a Debian package maintainer who would write better
 packages. Please contact us to volunteer for maintaining Relax-and-Recover
 in Debian and Ubuntu.
