#
# Copyright (C) 2013-2024 Bareos GmbH & Co. KG
# Copyright (c) 2011 Free Software Foundation Europe e.V., Author: Bruno Friedmann
#
[Unit]
Description=Bareos File Daemon service (rear mode)
Documentation=man:bareos-fd(8)
After=network.target network-online.target nss-lookup.target local-fs.target remote-fs.target time-sync.target
# Check if working dir exist
ConditionPathExists=/var/lib/bareos

[Service]
Type=simple
User=root
Group=bareos
WorkingDirectory=/var/lib/bareos
# -r: Restore only mode. (Backup jobs will fail).
ExecStart=/usr/sbin/bareos-fd -f -r
SuccessExitStatus=0 15
# IOSchedulingClass=idle
# Increase the maximum number of open file descriptors
LimitNOFILE=8192:524288

[Install]
Alias=bareos-filedaemon.service
WantedBy=multi-user.target
