# What old and new MAC-addresses belong to which interface.
# Mapping of MAC-addresses is a prerequirement
# for mapping of IP-addresses and/or routes.
# Letters in MAC-addresses must be lower case.
# Syntax:
# old-MAC-address new-MAC-address   interface
00:11:85:c2:b8:d5 00:50:56:b3:75:ad eth0
00:11:85:c2:b8:d7 00:50:56:b3:08:8c eth1
