[Unit]
Description=D-Bus System Message Bus
Documentation=man:dbus-broker-launch(1)
After=dbus.socket
Requires=dbus.socket

[Service]
Type=notify-reload
Sockets=dbus.socket
OOMScoreAdjust=-900
ExecStart=/usr/bin/dbus-broker-launch --scope system
