#  This file is part of systemd.
#
# See systemd.special(7) for details

[Unit]
Description=Halt
DefaultDependencies=no
Requires=halt.service
After=halt.service
AllowIsolate=yes

[Install]
Alias=ctrl-alt-del.target
