[Unit]
Description=Show Plymouth Boot Screen
DefaultDependencies=no
After=systemd-udev-trigger.service systemd-udevd.service rear-boot-helper.service
Before=systemd-journald.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionFileIsExecutable=/sbin/plymouthd
ConditionFileIsExecutable=/bin/plymouth

[Service]
ExecStart=/sbin/plymouthd --mode=boot --pid-file=/run/plymouth/pid --attach-to-session
ExecStartPost=-/bin/plymouth show-splash
Type=forking
KillMode=none
SendSIGKILL=no
