#  This file is part of systemd.
#
# See systemd.special(7) for details

[Unit]
Description=System Initialization
Wants=sysinit.service rear-boot-helper.service
After=sysinit.service rear-boot-helper.service
