#  This file is part of systemd.
#
# See systemd.special(7) for details

[Unit]
Description=Logging Daemon
DefaultDependencies=no
After=syslog.socket

[Service]
ExecStart=/lib/systemd/systemd-logger
NotifyAccess=all
