#  This file is part of systemd.
#
# See systemd.special(7) for details

[Unit]
Description=Unmount All Filesystems
DefaultDependencies=no
RefuseManualStart=yes
