[Unit]
Description=udev Coldplug all Devices
Wants=udev.service
After=udev-kernel.socket udev-control.socket
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/udevadm trigger --type=subsystems --action=add ; /sbin/udevadm trigger --type=devices --action=add
